<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Display Planet</title>
    <style>
    table, th, td {
    border: 1px solid black;
                    }

    </style>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Rotation Period</th>
        <th>Orbital Period</th>
        <th>Diameter</th>
    </tr>
    {% for p in planets %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.rotation_period}}</td>
        <td>{{p.orbital_period}}</td>
        <td>{{p.diameter}}</td>
    </tr>
    {% endfor %}
</table>
</br></br></br></br></br></br></br>
<a href="/StarWars/" style="float:left">Main Page</a><br/>
</body>
</html>